/* Global */
html,body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    color: whitesmoke;
    height: 97.6%;
    margin: 0;
    text-align: justify;
}

h1,h2,h3,p{
    margin-left: 2%;
    margin-right: 2%;
}

main{
    min-height: 80%;
    margin: 10px;
}

main:after {
    content: "";
    display: block;
    height: 100px;
}

.right {
    display: flex;
    align-items: center;
}

hr{
    width: 30%;
    margin-left: 0;
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgb(235, 175, 60), rgb(30, 58, 180));
    border-radius: 10%;
}

.add_data{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    padding-top: 6%;
}

.add_data img{
    height: 300px;
}

/* Images */

.img {
    margin-top: 80px;
    height: 450px;
    float: right;
    border-radius: 2%;
    border: rgb(235, 175, 60);
    border-style: solid;
    border-width: 2px;
    pointer-events: none;
    margin-right: 5%;
}

.all_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    height: 300px;
    border-radius: 2%;
    border: rgb(235, 175, 60);
    border-style: solid;
    border-width: 2px;
    transition: border-color 0.3s;
}

a:hover .all_img {
    border-color: rgb(30, 80, 180);
}

a:hover .all_name {
    color: rgb(30, 80, 180);
}

#image-preview {
    display: none;
    width: 50%;
    margin-top: 10px;
    border: 1px solid rgb(235, 175, 60);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}


/* Home */

.home_intro{
    margin-top: 5%;
}

.home_intro h1{
    text-align: center;
    font-size: 50px;
    background-image: linear-gradient(to bottom, rgb(235, 175, 60), rgb(235, 175, 60), rgb(30, 58, 180));
    color: transparent;
    background-clip: text;
}

.home_txt{
    font-size: 120%;
    margin-top: 5%;
}


.home_intro img{
    margin-top: 2%;
    margin-left: 5%;
}

.home_intro hr{
    margin-top: 5%;
    width: 100%;
    background-image: none;
    background-color: rgb(235, 175, 60);
}


.home_month{
    text-align: center;
}

.home_month img{
    height: 250px;
}

.home_container {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    gap: 2%;
}

/* All Link Pages */

.all_link_container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 12%;
}

.all_name {
    text-decoration: none;
    font-weight: bolder;
    font-size: 200%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    padding: 5px;
    transition: color 0.3s;
}

.info{
    padding: 2%;
    padding-top: 6%;
}

.info p{
    width: 60%;
}

input[type=submit]{
    background-color:rgb(121, 13, 13);
    color: white;
    user-select: none;
    border-radius:15px;
    width:15%;
    padding: 5px;
    font-size: 100%;
    transition: 0.2s;
    display: block;
    margin-left: 2%;
    margin-top: 8%;
}

input[type=submit]:hover{
    background-color:rgb(71, 9, 9);
}

/* Month */

.month_container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 7%;
}

.month_sub{
    color:rgb(235, 175, 60);
    font-size: 30px;
}

.in_page_lnk{
    color:rgb(91, 141, 241);
    text-decoration: underline;
}


.month{
    margin-top: 0px;
    width: 20%;
    margin-left: 10px;
    margin-top: 0px;
}


/* Layout */

a {
    text-decoration: none; /* removes underline and other decorations for everything */
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(24, 24, 26);
    border-bottom:  5px solid rgb(30, 80, 180);
    padding-bottom: 0 10px;
}

nav a {
    color: rgb(235, 175, 60);
    text-decoration: none;
    font-weight: 800;
    font-size: large;
    margin: 5px 10px;
    transition: 0.2s;
}

nav :hover {
    color: rgb(152, 100, 3);
}

.dropdown .dropbtn {
    font-weight: 800;
    font-size: large;
    border: none;
    color: rgb(235, 175, 60);
    background-color: inherit;
    font-family: inherit;
    padding: 10px;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    color: rgb(152, 100, 3);
  }

.dropdown-content {
    display: none;
    margin-top: 0px;
    position: absolute;
    background-color: #222;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;     /*makes dropdown display above website*/
  }

.dropdown-content a {
    float: none;
    color: rgb(235, 175, 60);
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
  }

.dropdown-content :hover{
    color: rgb(152, 100, 3);
    background-color: #312a2a;
  }

.dropdown:hover .dropdown-content{
    display: block;
}

footer {
    color: rgb(235, 175, 60);
    text-align: center;
    background-color: #1e1a1a;
    height: 60px;
    padding-top: 20px;
}


/* Form Pages */

.form_div{
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 5%;
}

.form_div h1{
    color: rgb(235, 175, 60);
    font-weight: 600;
    font-size: 60px;
    text-align: center;
}

.form_div input, textarea, select{
    width: 100%;
    background-color: lightgray;
    border-radius: 8px;
    padding: 2%;
  }

  .form_div textarea{
    resize: vertical; /* Only allows vertical resizing incase users input larger paragraphs*/
    min-height: 50px;
    max-height: 300px;
  }

.multiselect{
    min-height: 220px;
    overflow: hidden;
}

  .form_div input:focus, textarea:focus, select:focus{
    background-color: rgb(172, 167, 167);
}


.form_div select{
    width: 104.5%; /* select field doesnt line up with the other fields*/
}


  .form_div input[type=submit]{
    background-color:rgb(30, 80, 180);
    color: white;
    user-select: none;
    border-radius:15px;
    width:20%;
    font-size: 100%;
    transition: 0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .form_div input[type=submit]:hover{
    background-color:rgb(10, 40, 100);
  }


 

  .form_div a{
    color:rgb(30, 80, 180);
    text-decoration: underline;
  } 

  .form_div h3{
    text-align: left;
  } 

  
/* Error Pages */

.error{
    margin-top: 10%;
}


.error h1{
    color: rgb(235, 175, 60);
    font-weight: 800;
    font-size: 80px;
    text-align: center;
}

.error p{
    text-align: center;
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.error button{
    background-color:rgb(30, 80, 180);
    color: white;
    user-select: none;
    border-radius:50px;
    width:20%;
    font-size: 100%;
    transition: 0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}


.error button:hover{
    background-color:rgb(10, 40, 100);
}