body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    color: whitesmoke;
}

a {
    text-decoration: none; /* removes underline and other decorations for everything */
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; /* Adjust padding as needed */
}

nav a {
    color: rgb(235, 175, 60);
    text-decoration: none;
    font-weight: 800;
    font-size: large;
    margin: 0 10px;
}

nav :hover {
    color: rgb(187, 122, 3);
}

footer {
    color: rgb(235, 175, 60);
    text-align: center;
    margin-top: 10%;
}

.img {
    height: 450px;
    float: right;
    border-radius: 2%;
    border: rgb(235, 175, 60);
    border-style: solid;
    border-width: 2px;
    pointer-events: none;
}

.right {
    display: flex;
    align-items: center;
}

.all_link_container {
    display: grid;
    /* creates three columns of even width */
    grid-template-columns: 25% 25% 25%;
    gap: 10%;
}

.all_name {
    text-decoration: none;
    font-weight: bolder;
    font-size: 200%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    padding: 5px;
    width: 35%;
    transition: color 0.3s;
}

.all_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    height: 300px;
    border-radius: 2%;
    border: rgb(235, 175, 60);
    border-style: solid;
    border-width: 2px;
    transition: border-color 0.3s;
}

a:hover .all_img {
    border-color: rgb(30, 80, 180);
}

a:hover .all_name {
    color: rgb(30, 80, 180);
}

hr {
    width: 40%;
    margin-left: 100px;
    border: none;
    height: 5px;
    background-color: rgb(30, 80, 180);
}


/* 404 page */

.div_error{
    margin-top: 10%;
}


.error {
    color: rgb(235, 175, 60);
    font-weight: 800;
    font-size: 80px;
    text-align: center;
}

.p_error{
    text-align: center;
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.return {
    background-color:rgb(30, 80, 180);
    color: white;
    user-select: none;
    border-radius:15px;
    width:20%;
    font-size: 200%;
    transition: 0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.return:hover{
    background-color:rgb(10, 40, 100);
}