{% extends 'layout.html' %}
{% block content %}
<div class="add_data">
    <div>
        <a href = "/add_star">
            <img class="all_img" src="/static/images/betelgeuse.jpg">
            <h3 class="all_name">
            Add Star
            </h3>
        </a>
    </div>
    <div>
        <a href = "/add_constellation">
            <img class="all_img" src="/static/images/Orion.jpg">
            <h3 class="all_name">
            Add Constellation
            </h3>
        </a>
    </div>
</div>
{% endblock %}