{% extends 'layout.html' %}
{% block content %}
<div class="all_link_container">
    <div>
        <a href = "/add_star">
            <img class="all_img" src="/static/images/basic.jpg">
            <h3 class="all_name">
            + Star
            </h3>
        </a>
    </div>
    <div>
        <a href = "/add_constellation">
            <img class="all_img" src="/static/images/Orion.jpg">
            <h3 class="all_name">
            + Constellation
            </h3>
        </a>
    </div>
</div>
{% endblock %}