{% extends 'layout.html' %}
{% block content %}

<div class = form_div>
    <h1>Add Constellation</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <h3>{{ form.name.label }}</h3>
        {{ form.name(placeholder="Name") }}

        <h3>{{ form.description.label }}</h3>
        {{ form.description(placeholder="Description") }}

        <h3>{{ form.story.label }}</h3>
        {{ form.story(placeholder="Story") }}

        <h3>{{ form.months.label }}</h3>
        {{ form.months (class="multiselect")}}

        <h3>{{ form.image.label }}</h3>
        {{ form.image }}
         <img id="image-preview" src="#" alt="Image Preview">
         <br><br>

         {# so flash CSS will only display when there are messages #}
         {% if get_flashed_messages() %}
         <div class="error_flash">
                 {% for message in get_flashed_messages() %}
                         {{ message }}
                 {% endfor %}
         </div>
         {% endif %}

        {{ form.submit() }}
        <br>
    </form>
</div>
<script src="{{ url_for('static', filename='image-preview.js') }}"></script>
{% endblock %}