{% extends "layout.html" %}
{% block content %}
    <img class="img" src="/static/images/{{ constellation.image }}">
<div class="info">
    <h1>{{constellation.name}}</h1>
    <p>{{constellation.description}}</p>
    <p>{{constellation.story}}</p>
    <p> 
        {{constellation.name}} is viewable in 
        {%for month in constellation.months%}
            {{month}}
        {%endfor%}
    </p>
    <p> 
        {#adds changes star to stars for plural#}
        {{constellation.name}} contains the
        {% if products|length <= 1 %}
            star {{ star.name }}
        {%else%}
            stars  {{ star.name }}
        {%endif%}
    </p>
</div>
{%if admin == 1%}
<form method="POST"
                action="{{ url_for('delete_constellation', id=constellation.id) }}">
            <input type="submit" value="Delete Constellation"
                onclick="return confirm('Are you sure you want to delete this entry?')">
        </form>
{%endif%}
<br>
{% endblock %}