{% extends 'layout.html' %}
{% block content %}
<h1 class = "login_title">
  Sign Up or <a href="/login">Login</a>
</h1>
<div class="form_div">
  <form method="POST">
    {{ form.hidden_tag() }}
    
    <h3>{{ form.username.label }}</h3>
    {{ form.username(placeholder="Username") }}

    <h3>{{ form.password.label }}</h3>
    {{ form.password(placeholder="Password") }}

    <h3>{{ form.confirm_password.label }}</h3>
    {{ form.confirm_password(placeholder="Password") }}
    <br><br>

    {# so flash CSS will only display when there are messages #}
    {% if get_flashed_messages() %}
    <div class="error_flash">
            {% for message in get_flashed_messages() %}
                    {{ message }}
            {% endfor %}
    </div>
    {% endif %}

    {{ form.submit() }}
  </form>
</div>
{% endblock %}
