<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Night Sky</title>
</head>
<body>
    <header>Night Sky</header>
    <nav>
        <a href="/">Home</a>
        <a href="/all_months">Months</a>
        <a href="/all_planets">Planets</a>
        <a href="/all_stars">Stars</a>
        <a href="/all_constellations">Constellations</a>
        <a href="/login">Login</a>
        <a href="/clear_user">Logout</a>
    </nav>
    <main>
    {%block content%}{%endblock%}
    </main>
    <footer>COPYRIGHT ©2024 Isaac Bargh Contact: 20292@burnside.school.nz</footer>
</body>
</html>