<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">  
    <title>Southern Skies</title>
</head>
<body>
    
    <nav>
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Months ▼</button>
            <div class="dropdown-content">
              <a href="/month/1">January</a>
              <a href="/month/2">February</a>
              <a href="/month/3">March</a>
              <a href="/month/4">April</a>
              <a href="/month/5">May</a>
              <a href="/month/6">June</a>
              <a href="/month/7">July</a>
              <a href="/month/8">August</a>
              <a href="/month/9">September</a>
              <a href="/month/10">October</a>
              <a href="/month/11">November</a>
              <a href="/month/12">December</a>
            </div>
          </div>
        <a href="/all_planets">Planets</a>
        <a href="/all_stars">Stars</a>
        <a href="/all_constellations">Constellations</a>
        {%if person != None%}
        <a href="/add_data">Add data</a>
        {%endif%}
        <div class="right">
            {% if person == None %}
            <a  href="/login">Login</a>
            {% elif person != None %}
            <a href="/clear_user">Logout</a>
            {% else%}
            <a  href="/login">Login</a>
            {% endif %}
        </div>
    </nav>
    <main>
    {%block content%}{%endblock%}
    </main>
    <footer>COPYRIGHT ©2024 Isaac Bargh &nbsp;&nbsp;&nbsp;CONTACT: 20292@burnside.school.nz</footer>
</body>
</html>