{% extends "layout.html" %}
{% block content %}
<img class="img" src="/static/images/{{ star.image }}">
<div class="info">
    <h1>{{ star.name }}</h1>
    <hr>
    <h3>{{ star.stage_desc.name }}</h3>
    <p>
        {{ star.name }} is a part of 
        <a href = "/constellation/{{ star.constellation_desc.id }}" class="in_page_lnk">
            {{ star.constellation_desc.name }}</a>.
    </p>
    <p>{{ star.description }}</p>

    {% if admin == 1 %}
    {# only lets admins delete #}
    <form method="POST"
                    action="{{ url_for('delete_star', id=star.id) }}">
                <input type="submit" value="Delete Star"
                       onclick="return confirm('Are you sure you want to delete this entry?')">
                       {# makes admin confirm so they don't accidentally delete data #}
            </form>
    {% endif %}
    
    <br>
</div>
{% endblock %}